<!-- about -->
<section class="about-main py-5">
  <div class="container py-md-4 mt-md-3">
    <div class="wthree_head_section">
      <h3 class="w3l_header">Welcome To <span>Our Site!</span></h3>
    </div>
    <div class="row mt-md-5 pt-4">
    <div class="col-md-7 about-grid2">
      <div class="about-subgrid">
        <p>We Provide Best Wedding</p>
        <h2>Wedding</h2>
        <span>Digital Services</span>
        <h5>we are specialised at-</h5>
        <ul class="w3l-about-list">
          <li>Flowers</li>
          <li>Make-up</li>
          <li>Ceremonies</li>
          <li>Event Organizer</li>
          <li>Photographers</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 about-grid1">
    </div>
    </div>
  </div>
</section>
<!--//about -->
<!-- stats -->
<section class="stats"style="background: url(assets/images/bg2.jpg) no-repeat 0px 0px;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-moz-background-size: cover;text-align: center;background-attachment:fixed;">
<div class="overlay py-5">
  <div class="container py-md-4 mt-md-3">
    <div class="wthree_head_section">
      <h3 class="w3l_header text-white">Our <span class="text-white">Credits</span></h3>
    </div>
    <div class="row inner_w3l_agile_grids-1 mt-md-5 pt-4">
    <div class="col-md-4 w3layouts_stats_left w3_counter_grid">
      <i class="fa fa-image" aria-hidden="true"></i>
      <p>120</p>
      <h3>PHOTOGRAPHERS</h3>
    </div>
    <div class="col-md-4 w3layouts_stats_left w3_counter_grid1">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <p>150</p>
      <h3>TYPES OF FLOWERS</h3>
    </div>
    <div class="col-md-4 w3layouts_stats_left w3_counter_grid3">
      <i class="fa fa-car" aria-hidden="true"></i>
      <p>60</p>
      <h3>WEDDING CARS</h3>
    </div>
</div>
 </div>
 </div>   
</section>
<!-- //stats -->
<!-- Popular -->
<section class="services py-5">
  <div class="container py-md-4 mt-md-3"> 
    <div class="wthree_head_section">
      <h3 class="w3l_header">Popular <span>Wedding Photos</span></h3>
    </div>
    <div class="row inner_sec_grids_info_w3ls mt-md-5 pt-4">
      <div class="col-md-3 services-left">
        <div class="services-left-top mb-4">
          <img src="assets/images/g2.jpg" class="img-fluid" alt="" />
        </div>
        <div class="services-left-top services-left-top1">
          <img src="assets/images/g3.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-6 services-middle">
        <div class="col-md-12 services-middle-img mb-4">
          <img src="assets/images/g1.jpg" class="img-fluid" alt="" />
        </div>
        <div class="row services-middle-grids">
          <div class="col-md-6 services-middle-left">
            <div class="services-left-top">
              <img src="assets/images/g4.jpg" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-md-6 services-middle-left">
            <div class="services-left-top">
              <img src="assets/images/g5.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 services-left">
        <div class="services-left-top mb-4">
          <img src="assets/images/g6.jpg" class="img-fluid" alt="" />
        </div>
        <div class="services-left-top services-left-top1">
          <img src="assets/images/g7.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Popular -->
<!-- book -->
<section class="book-main" style="background: url(assets/images/bg3.jpg) no-repeat 0px 0px;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-moz-background-size: cover;text-align: center;background-attachment: fixed;">
  <div class="overlay py-5">
  <div class="container py-md-4 mt-md-3">
    <div class="wthree_head_section">
      <h3 class="w3l_header text-white">Book Your  <span class="text-white">Wedding Date</span></h3>
    </div>
    <div class="book-main-top mt-md-5 pt-4">
      <form action="#" method="post">
        <div class="agileits-btm-spc form-text">
          <input id="datepicker" name="text" type="text" placeholder="Booking Date" required="">
        </div>
        
        <div class="agileits-btm-spc form-text1 mt-3">
          <input type="text" name="Name" placeholder="Full Name" required="">
        </div>
        
        <div class="agileits-btm-spc form-text mt-3">
          <input type="email" name="email" placeholder="Email" required="">
        </div>
        <div class="agileits-btm-spc form-text mt-3">
          <textarea name="your message" placeholder="Message" required=""></textarea>
        </div>
        <div class="book-agileinfo-form">
          <input type="submit" value="Booking">
        </div>
      </form>
    </div>
  </div>
  </div>
</section>
<!--//about -->
<!-- news -->
<section class="news py-5">
  <div class="container py-md-4 mt-md-3"> 
    <div class="wthree_head_section">
      <h3 class="w3l_header">Wedding  <span>Journal</span></h3>
    </div>
    <div class="row inner_w3l_agile_grids-1 mt-md-5 pt-4">
    <div class="col-md-4 w3layouts_news_left_grid1">
      <div class="new_top">
        <h6 class="mb-3">Tucson / 1 July </h6>				
        <h3 class="mb-3">Bridal Shower</h3>
        <p>Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
      </div>
    </div>
    <div class="col-md-4 w3layouts_news_left_grid2">
      <div class="new_top">
        <h6 class="mb-3">Tucson / 12 July  </h6>	
        <h3 class="mb-3">Wedding Ceremony</h3>
        <p>Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
      </div>
    </div>
    <div class="col-md-4 w3layouts_news_left_grid3">
      <div class="new_top">
        <h6 class="mb-3">Jamaica / 25 July  </h6>	
        <h3 class="mb-3">Honeymoon Trip</h3>
        <p>Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
      </div>
    </div>
</div>
 </div>   
</section>
<!-- //news -->